<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @crew.nombre %>
</p>

<p>
  <strong>Apaterno:</strong>
  <%= @crew.apaterno %>
</p>

<p>
  <strong>Amaterno:</strong>
  <%= @crew.amaterno %>
</p>

<p>
  <strong>Email:</strong>
  <%= @crew.email %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @crew.rut %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @crew.celular %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @crew.direccion %>
</p>

<p>
  <strong>City:</strong>
  <%= @crew.city %>
</p>

<p>
  <strong>Position:</strong>
  <%= @crew.position %>
</p>

<p>
  <strong>Ship:</strong>
  <%= @crew.ship %>
</p>

<%= link_to 'Edit', edit_crew_path(@crew) %> |
<%= link_to 'Back', crews_path %>
