<!-- error message -->
<% if notice != nil %>
<div class="alert alert-success" role="alert">
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    <%= notice %>
</div>
<% end %>
<!-- end error message -->
<!-- body -->
<%= form_for(@crew) do |tripulacion| %>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Datos</h3>
            </div>
            <div class="panel-body">
                <p>
                    <strong>Nombre:</strong>
                    <%= @crew.nombre %>
                </p>
                <p>
                    <strong>Apellido paterno:</strong>
                    <%= @crew.apaterno %>
                </p>
                <p>
                    <strong>Apellido materno:</strong>
                    <%= @crew.amaterno %>
                </p>
                <p>
                    <strong>Email:</strong>
                    <%= @crew.email %>
                </p>
                <p>
                    <strong>Rut:</strong>
                    <%= @crew.rut %>
                </p>
                <p>
                    <strong>Celular:</strong>
                    <%= @crew.celular %>
                </p>
                <p>
                    <strong>Direccion:</strong>
                    <%= @crew.direccion %>
                </p>
                <p>
                  <strong>Ciudad:</strong>
                  <%= @crew.city.nombre %>
                </p>

                <p>
                  <strong>Cargo:</strong>
                  <%= @crew.position.nombre %>
                </p>

                <p>
                  <strong>Embarcacion:</strong>
                  <%= @crew.ship.nombre %>
                </p>
          </div>
            <div class="panel-footer">
                <%= link_to 'Editar', edit_crew_path(@crew), class:"btn btn-default pull-left" %>
                <button type="button" class="btn btn-primary pull-right mb-control" data-box="#message-box-danger">Eliminar</button>
                <%= link_to 'Volver', crews_path, class:"btn btn-default pull-left" %>
            </div>
        </div>
    </div>
</div>
<!-- end body -->

<!-- danger -->
<div class="message-box message-box-danger animated fadeIn" id="message-box-danger">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title">
                <span class="fa fa-times"></span>
                Peligro</div>
            <div class="mb-content">
                <p>¿Esta seguro de continuar con la eliminacion del registro?</p>
            </div>
            <div class="mb-footer">
                <%= link_to 'Eliminar', @crew, method: :delete, class:"btn btn-default btn-lg pull-right"%>
                <button class="btn btn-default btn-lg pull-left mb-control-close">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- end danger -->
<% end %>
