<div class="row">
    <div class="col-md-12">

        <!-- START DEFAULT DATATABLE -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <strong>Viaje</strong>
                </h3>
                <ul class="panel-controls-btn">
                    <li><%= link_to 'Nuevo', new_trip_path , class:"btn btn-default" %></li>
                </ul>
            </div>
            <!-- error message -->
            <% if notice != nil %>
            <div class="alert alert-success" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <%= notice %>
            </div>
            <% end %>
            <!-- end error message -->

            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table datatable">
                        <thead>
                            <tr>
                              <th>Compra</th>
                              <th>Salida</th>
                              <th>Llegada real</th>
                              <th>Llegada estimada</th>
                              <th>Motivo</th>
                              <th>Embarcacion</th>
                              <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <% @trips.each do |trip| %>
                            <tr>
                                <td><%= link_to trip.purchase.factura, trip %></td>
                                <td><%= trip.salida %></td>
                                <td><%= trip.real %></td>
                                <td><%= trip.estimada %></td>
                                <td><%= trip.motivo %></td>
                                <td><%= trip.ship.nombre %></td>
                                <td><button type="button" class="btn btn-primary" onclick="location.href='https://naviera.herokuapp.com/recorrido/<%= trip.id %>'">Ver recorrido</button></td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
