<%= javascript_include_tag "https://www.google.com/jsapi" %>
<%= wicked_pdf_javascript_include_tag "chartkick" %>

<style type="text/css">
          table a:link {
  color: #666;
  font-weight: bold;
  text-decoration:none;
}
table a:visited {
  color: #999999;
  font-weight:bold;
  text-decoration:none;
}
table a:active,
table a:hover {
  color: #bd5a35;
  text-decoration:underline;
}
table {
  font-family:Arial, Helvetica, sans-serif;
  color:#666;
  font-size:12px;
  text-shadow: 1px 1px 0px #fff;
  background:#eaebec;
  margin:20px;
  border:#ccc 1px solid;

  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;

  -moz-box-shadow: 0 1px 2px #d1d1d1;
  -webkit-box-shadow: 0 1px 2px #d1d1d1;
  box-shadow: 0 1px 2px #d1d1d1;
}
table th {
  padding:21px 25px 22px 25px;
  border-top:1px solid #fafafa;
  border-bottom:1px solid #e0e0e0;

  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
  background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
  text-align: left;
  padding-left:20px;
}
table tr:first-child th:first-child {
  -moz-border-radius-topleft:3px;
  -webkit-border-top-left-radius:3px;
  border-top-left-radius:3px;
}
table tr:first-child th:last-child {
  -moz-border-radius-topright:3px;
  -webkit-border-top-right-radius:3px;
  border-top-right-radius:3px;
}
table tr {
  text-align: center;
  padding-left:20px;
}
table td:first-child {
  text-align: left;
  padding-left:20px;
  border-left: 0;
}
table td {
  padding:18px;
  border-top: 1px solid #ffffff;
  border-bottom:1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;

  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
  background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
  background: #f6f6f6;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
  background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
  border-bottom:0;
}
table tr:last-child td:first-child {
  -moz-border-radius-bottomleft:3px;
  -webkit-border-bottom-left-radius:3px;
  border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
  -moz-border-radius-bottomright:3px;
  -webkit-border-bottom-right-radius:3px;
  border-bottom-right-radius:3px;
}
table tr:hover td {
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
  background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);  
}
          .page-break {
  display: block;
  clear: both;
  page-break-after: always;
}
        </style>
<div class="row">
    <div class="col-md-10">
        <!-- START DEFAULT DATATABLE -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <strong>Reporte de <%= render :text => @mes_salida + " " + @agno %></strong>
                </h3>
                
            </div>
            <!-- error message -->
            <% if notice != nil %>
            <div class="alert alert-success" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <%= notice %>
            </div>
            <% end %>
            <!-- end error message -->
            <div class="panel-body">
                <div class="table-responsive">
                    <h3>Costos de Inversión </h3>
                    
                    <table class="table">
                        <thead>
                          <th align="center" >Nombre Producto</th>
                          <th align="center" >Proveedor</th>
                          <th align="center" >Fecha</th>
                          <th align="center" >Cantidad</th>
                          <th align="center" >Valor invertido</th>
                          <th align="center" >Nombre de embarcación</th>
                          <th align="center" >Costos de Transporte</th>
                        </thead>

                        <tbody>
                          <% 
                          aux_valor_invertido = 0
                          aux_costos_x = 0
                          @boats.each do |boat| %>
                            <tr>
                              <%
                                inversion = boat.precio * boat.cantidad
                               %>
                              <td align="center" class="mdl-data-table__cell--non-numeric"><%= boat.nombre_producto %></td>
                              <td align="center" class="mdl-data-table__cell--numeric"><%= boat.nombre_proveedor %></td>
                              <td align="center" class="mdl-data-table__cell--numeric"><%= boat.fechasalida %></td>
                              <td align="center" class="mdl-data-table__cell--numeric"><%= boat.cantidad %> Kg</td>
                              <td align="center" class="mdl-data-table__cell--numeric">$<%= number_with_delimiter(inversion.to_i.to_s, delimiter: ".") %></td>
                              <%
                                aux_valor_invertido = (aux_valor_invertido + inversion.to_i)
                              %>
                              <td align="center" class="mdl-data-table__cell--numeric"><%= boat.nombre_embarcacion %></td>
                              <%
                                costos_x = boat.alimentacion + boat.combustible + boat.personal + boat.emergencia
                                aux_costos_x = (aux_costos_x + costos_x)
                              %>
                              <td align="center" class="mdl-data-table__cell--numeric">$<%= number_with_delimiter(costos_x, delimiter: ".") %></td>
                              <%
                                costos_x = 0
                              %>      
                            </tr>
                          <% end %>
                            <tr>
                              <td align="center" >TOTAL</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td align="center" >$<%= number_with_delimiter(aux_valor_invertido, delimiter: ".") %></td>
                              <td></td>
                              <td align="center" >$<%= number_with_delimiter(aux_costos_x, delimiter: ".") %></td>
                            </tr>
                        </tbody>
                  </table>

                  </br></br>
                  <h3>Ganancia de Venta de Productos </h3>
                  <table class="table">
                    <thead>
                          <th>Nombre Producto</th>
                          <th>Cliente</th>
                          <th>Fecha</th>
                          <th>Valor Venta</th>
                          <th>Cantidad</th>
                          <th>Venta Total</th>
                        </thead>
                        <tbody>
                          <% 
                          aux_total = 0
                          @ventas.each do |venta| %>
                            <tr>
                              <td class="mdl-data-table__cell--non-numeric"><%= venta.nombre %></td>
                              <td><%= venta.cliente_nombre %> </td>
                              <td><%= venta.fecha %></td>
                              <td class="mdl-data-table__cell--non-numeric">$<%= number_with_delimiter(venta.valor_venta, delimiter: ".") %></td>
                              <td class="mdl-data-table__cell--non-numeric"><%= venta.cantidad %> Kg</td>
                              <%
                                total = venta.valor_venta * venta.cantidad
                                aux_total = aux_total + total
                              %>
                              <td class="mdl-data-table__cell--non-numeric">$<%= number_with_delimiter(total, delimiter: ".") %></td>     
                            </tr>
                          <% end %>
                            <tr>
                              <td>TOTAL</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td>$<%= number_with_delimiter(aux_total, delimiter: ".") %></td>
                            </tr>
                        </tbody>
                  </table>
                  </br></br>
                  <h3>Resumen</h3>
                  <table class="table">
                  <thead>
                    <tr>
                      <th width=>Costos</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                    <td>Inversión</td>
                    <td align="center">$<%= number_with_delimiter(aux_valor_invertido, delimiter: ".") %></td>
                    </tr>
                    <tr>
                    <td>Transporte</td>
                    <td align="center">$<%= number_with_delimiter(aux_costos_x, delimiter: ".") %></td>
                    </tr>
                    <tr>
                    <%
                      total = aux_valor_invertido + aux_costos_x
                      num1 = number_with_delimiter(total, delimiter: ".")
                    %>
                      <td>TOTAL</td>
                      <td align="center">$<%= num1 %></td>
                    </tr>
                    </tbody>
                  </table>
                  <table class="table">
                  <thead>
                    <tr>
                      <th width="50%">Ventas</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                    <td>Venta Productos</td>
                    <td align="center">$<%= number_with_delimiter(aux_total, delimiter: ".") %></td>
                    </tr>
                    
                    </tbody>
                  </table>
                  <table class="table">
                  <thead>
                    <tr>
                      <th width="50%">Utilidades</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                    <td>Ventas - Costos</td>
                    <td align="center"><%= number_to_currency(aux_total- (aux_valor_invertido + aux_costos_x), delimiter: ".", precision: 0) %></td>
                    </tr>
                    
                    </tbody>
                  </table>
                </div>
                <br />
</div>

